---
# customise your perferences here
---

$content-width:    1024px;

@import "minima";


blockquote {
    border-left:1px solid #e5e5e5;
    margin:0;
    padding:0 0 0 20px;
    font-style: normal;
}


.site-title {
    font-size: 30px;
    position: relative; 
    left: 250px; 
    top: 15px;
    &, &:visited, &:hover, &:active { color: white; }

    @include media-query($on-palm) {
        display: none;
    }
}

.center {
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
}

.row {
    padding: 0 0 30px 0;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

ol ol { list-style-type: lower-alpha; } and ol ol ol { list-style-type: lower-roman; }
.accordion,.nested_accordion,.re_nested_accordion{
    height: auto !important;
}

// ensure top level accordions (such as "I'm using a Linux Research VM") aren't ridiculously long when opened, when using nested accordions
div.nested_accordion {
    height: auto !important;
}

// restore some styling of links when using nested accordions
a {
    color: blue !important;
    // text-decoration: underline;
}

