---
# customise your perferences here
---

$content-width:    1024px;

@import "minima";

.site-title {
    font-size: 32px;
    position: relative; 
    left: 250px; 
    top: 25px;
    &, &:visited, &:hover, &:active { color: white; }
}

