---
layout: default
---

<div class="home">

  <h1 class="page-heading">My VM is Windows</h1>

  {% for item in site.docwindows %}
    <p><a href="{{ item.url | relative_url }}">{{ item.title | escape }}</a></p>
  {% endfor %}


  <h1 class="page-heading">My VM is Linux</h1>

  {% for item in site.doclinux %}
  <p><a href="{{ item.url | relative_url}}">{{ item.title | escape }}</a></p>
{% endfor %}


  {% for category in site.categories %}
    <a href="#{{ category[0] | slugify }}" class="post-tag">{{ category[0] }}</a>
  {% endfor %}

  
  {{ content }}


</div>
